<h1>Editing Tb Detalle Solicitud</h1>

<%= render 'form', tb_detalle_solicitud: @tb_detalle_solicitud %>

<%= link_to 'Show', @tb_detalle_solicitud %> |
<%= link_to 'Back', tb_detalle_solicituds_path %>
