 <footer class="footer">
        <div class="container">
         <p>Siguenos en Nuestras Redes</p>
            <nav class="pull-left">
                <ul>
                    <li>
                          <a class="btn" style="background: #B5BC65" ><span class="fa fa-facebook"></span></a>
                    </li>
                    <li>
                        <a class="btn" style="background: #B5BC65"  ><span class="fa fa-google"></span></a>
                    </li>
                    <li>
                       <a class="btn" style="background: #B5BC65"  ><span class="fa fa-instagram"></span></a>
                    </li>
                    <li>
                        <a class="btn" style="background: #B5BC65" ><span class="fa fa-twitter"></span></a>
                    </li>
                    <li>
                         <p><strong>&copy; 2017 Grupo Spinetti > </strong> Spinetti Spa Gym.</p>
                    </li>
                </ul>
            </nav>
           
            <div class="copyright pull-right">
              
                    <div>
                    <p>Horario de Trabajo:</p>
                    <p>Lunes a Viernes de 8:00am a 5:00pm</p>
                    </div>  
                
            </div>
        </div>
    </footer>
