		<!-- Navbar Success -->
					<nav class="navbar navbar-success navbar-fixed-top">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-success">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div >
								<a class="navbar-brand" href="#"><%= image_tag "logoBambu.png", size: "85x70",style: "margin-top:-20px" %></a>
								</div>
							</div>

							<div class="collapse navbar-collapse" id="example-navbar-success">
								<ul class="nav navbar-nav navbar-right">
									<li class="active">
		                                <a href="/index">
											Inicio
		                                </a>
		                            </li>
		                            <li>
		                            <a href="#pablo">
		                                Servicios
		                                </a>
		                            </li>
		                             <li>
		                             <a href="#pablo">
		                               Paquetes
		                               </a>
		                            </li>
		                             <li>
		                             <a href="#pablo">
		                               Nosotros
		                               </a>
		                            </li>
		                             <li>
		                             <a href="/reservas">
		                                Reserva
		                                </a>
		                            </li>
		                            <li>
		                             <a href="#pablo">
		                                Contacto
		                                </a>
		                            </li>
		                            <li>
		                             <a href="/preguntas">
		                               Preguntas
		                                </a>
		                            </li>
		                            <li>
		                                <a href="#pablo">
											<i class="material-icons">account_circle</i>
		                                </a>
		                            </li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- End Navbar Success -->