<div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Tratamientos Corporales</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 center">
                        <!--<img src="images/fondoreserva.png" class="img"/>-->
                        <div> 
                            <p class="lead">La sauna tiene efectos beneficiosos sobre el organismo, al liberar, mediante sudoración, que suele ser abundante y rápida, toxinas y activar la circulación sanguínea. Siempre va acompañada con contrastes de temperatura, a la sesión de calor le sigue una de enfriamiento, que amplía los efectos de la sudoración.</p>
                        </div>
                    </div>
                </div>
            </div>

<div id="myCarousel" class="carousel slide color-slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "services/sauna-sauna.jpg"%>
      <div class="carousel-caption pull-right">
                    <h1>Sauna<br/>
                        </h1>
                    <p></p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button">Ver Mas</a>
                    </p>
      </div>
    </div>   
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </a>
</div>




<%= render '/partials/footer' %>
